{% extends 'layout-2maxicols.html.twig' %}

{% block title %}Home{% endblock %}

{% block leftBlock %}
    <div class="pink-stripe">
        <h1>
            Let's start coding&nbsp;&#129304;
        </h1>
    </div>
{% endblock %}
