{% extends 'base.html.twig' %}
{% block title %} SharingBoard {% endblock %}
{% block body %}
    <div class="container-fluid vstack justify-content-around col-12">
        <div class="row gap-4">

                <!-- Filter container -->
                <div class="vstack align-items-center m-0 p-0 col-lg-4">
                    <p class="h2 text-dark mb-4 hstack justify-content-center">Filters</p>
                    {{ include('SharingBoard/_search.html.twig') }}
                </div>

            <!-- Search container-->
            <div class="col-12 col-lg-6 border-start vstack">
                <p class="h2 text-dark mb-4 d-flex justify-content-center">Partages</p>
                <div class="container col-12 d-flex align-items-center flex-column">

                    <!-- Search result container --->
                    {% for user in users %}
                        <div class="container-fluid d-flex justify-content-center ">
                            <div class="row hstack align-items-center col-12 rounded-3 border mb-2">
                                <p class="text-black">{{ user.firstname }}</p>
                                <div class="col-lg-4">
                                </div>
                            </div>
                        </div>
                {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
