{% extends 'base.html.twig' %}
{% block title %} SharingBoard {% endblock %}
{% block body %}
        <div class="container container-fluid">
                <p class="h2 text-dark mb-4 d-flex justify-content-center">Filters</p>
            {{ form(form) }}
            <div class="btn btn-primary" type="submit">blabla</div>
        </div>
        <div class="container container-fluid">
            {% for user in candidates %}

            {% endfor %}
        </div>
{% endblock %}
