{% extends 'layout-2maxicols.html.twig' %}

{% block h1 %}Mot de passe oublié{% endblock %}

{% block leftBlock %}
    <h1 class="my-5">Mot de passe oublié</h1>

    <p>Veuillez vérifier votre boite mail.</p>
{% endblock %}
