:root{
    /*$primary: #040B24;
    $secondary: #F20089;
    $grey : #707070;
    $light-grey : #f8f9fa;
    $light : #FFFFFF;
    $dark: #000000;*/
}

.bg-afternoon-light {
    background-color: #f8f9fa;
}
