{% extends 'base.html.twig' %}

{% block body %}

    <p class="h1 my-3 text-dark m-3">Comptes utilisateurs administrateurs</p>

    <div class="col-md-12 col-12">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 col-12">
            <div class="card-body d-flex flex-column align-items-start">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            Prénom
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Mail
                        </th>
                        <th>
                            Nombre de fiches créées à régler
                        </th>
                        <th>
                            Modifier
                        </th>
                    </tr>

                    {%  for admin in admins %}
                    <tbody>s
                    <tr>
                        <td>{{ admin.firstname }}</td>
                        <td>{{ admin.lastname }}</td>
                        <td>{{ admin.email }}</td>
                        <td>Nb fiches</td>
                        <td><a href="/admin/{{ admin.id }}/edit'">Modifier</a></td>
                        {%  endfor %}
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>

{% endblock %}
