{% extends 'base.html.twig' %}

{% block title %}Modifier un admin{% endblock %}
{% block h1 %}Modifier un admin{% endblock %}

{% block content %}

    {{ form(form) }}

    <div class="d-flex hstack mt-3 justify-content-center">
       {#<a href="{{ path('remove_admin') }}">Supprimer le compte</a> #}
    </div>


{% endblock %}
