{% extends 'base.html.twig' %}

{% block title %}Modifier un admin{% endblock %}
{% block h1 %}Modifier un admin{% endblock %}

{% block content %}

    <div class="col-10 justify-content-center">
        {{ form(form) }}
    </div>

{% endblock %}
