{% extends 'base.html.twig' %}

{% block title %}Ajouter un compte admin{% endblock %}
{% block h1 %}Ajouter un compte admin{% endblock %}

{% block breadcrum%}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('account_admin') }}">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter un Admin</li>
        </ol>
    </nav>

{% endblock %}

{% block content %}
    <div class="col-10 justify-content-center">
        {{ form_start(form) }}
                {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
