{% extends 'layout-3cols.html.twig' %}

{% block title %}Supprimer un Admin{% endblock %}

{% block middleBLock %}
    <h1>Suppression compte utilisateur</h1>

    <div>
        <p>Etes-vous sûr de vouloir supprimer ce compte utilisateur</p>
    </div>

    <div class="d-flex hstack mt-3 justify-content-center">
        <a href="{{ path('account_admin') }}">Non</a>
        <a href="{{ path('account_admin_delete') }}">Oui</a>
    </div>

{% endblock %}
