{% extends 'layout-2maxicols.html.twig' %}

{% block leftBlock %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="my-5">Se connecter</h1>

    <div class="">
        <form action="{{ path('app_login') }}" method="post">

            <input type="text" class="form-control mb-4" id="username" name="_username" value="{{ last_username }}" placeholder="E-mail"/>
            <input type="password" class="form-control mb-3" id="password" name="_password" placeholder="Password"/>

            <p class="text-end"><a href="#">Mot de passe oublié ?</a></p>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-primary btn-block my-4" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
