:root{
    --bs-blue: #040B24;
    --bs-pink: #F20089;
    --bs-grey : #707070;
    --bs-grey-light : #f8f9fa;
    --bs-white : #FFFFFF;
    --bs-black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: $grey-light;
    color: $black-pur-color;
}




