@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
$blue-color: #040B24;
$pink-color: #F20089;
$grey-color : #707070;
$grey-light : #f8f9fa;
$white-pur-color : #FFFFFF;
$black-pur-color : #000000;

* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: $grey-light;
    color: $black-pur-color;
}

.btn-primary{
    background-color: $pink-color;
    color: $white-pur-color;
}

/* NAVBAR */

.navbar-afternoon{
    background-color: $pink-color;
}
