@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
$blue-color: #040B24;
$pink-color: #F20089;
$grey-color : #707070;
$grey-light : #f8f9fa;
$white-pur-color : #FFFFFF;
$black-pur-color : #000000;

* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: $grey-light;
    color: $black-pur-color;
}

/* NAVBAR */

.navbar-afternoon{
    background-color: $pink-color;
}


.pink-stripe {
    height: 50vh;
    width: 100%;
    display: flex;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    align-items: center;
    justify-content: center;
}

.white-stripe {
    background-color: white;
    padding: 1rem;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 500px;
        max-width: 100%;
        height: auto;
    }
}
