:root{
    $primary: #040B24;
    $secondary: #F20089;
    $grey : #707070;
    $light-grey : #f8f9fa;
    $light : #FFFFFF;
    $dark: #000000;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;

}

.navbar{

}




