//start coding by removing this file and adding yours ;)
@import "~bootstrap/scss/bootstrap";


nav {
    background-color: #040B24;
}

.nav-link {
    color: #DDDDDD;
}

.navbar-brand {
    color: #DDDDDD;
}

.button {
    background-color: #F20089;
}

.login {
    background-color: #040B24;
}

img {
    width: 1000px;
    height: 900px;
    object-fit: cover;
}


