{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col my-5">
                <div class="p-5">
                    {% block leftBlock %}{% endblock %}
                </div>
            </div>

            <div class="col">
                [IMAGE]
            </div>
        </div>
    </div>
{% endblock %}
