{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div class="login row">
        <div class="col my-5">
            <div class="p-5">
                {% block leftBlock %}{% endblock %}
            </div>
        </div>

        <div class="col">
            <img src="https://getaround-assets.gumlet.io/images/shared/cities/FR/location-voiture-bordeaux-getaround.jpg?auto=format%2Ccompress&dpr=1"/>
        </div>
    </div>
{% endblock %}
