<nav class="navbar shadow sticky-top bg-primary">
    <div class="container-fluid">
            <div class="d-flex align-items-center gap-3 text-light">
                <h1>Afternoon</h1>
            </div>

        <li class="nav-item">
            <a class="nav-link text-light" href="#">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#">Tableau de bord</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#">Suivi transactionnel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#">Dépôt</a>
        </li>
        <button class="btn blue-btn" type="submit">Log Out</button>
    </div>
</nav>
