<nav class="navbar navbar-light bg-primary shadow sticky-top navbar-afternoon">
    <div class="container-fluid">
            <div class="d-flex align-items-center gap-3">
                <h1>Afternoon</h1>
            </div>

        <li class="nav-item">
            <a class="nav-link" href="#">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tableau de bord</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Suivi transactionnel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dépôt</a>
        </li>
        <button class="btn btn-outline-success" type="submit">Log Out</button>
    </div>
</nav>
