<div class="container-fluid border-bottom">
    <div class="navTitle">
        <a href="" class="mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-3 hstack justify-content-start">Afternoon</span>
        </a>
    </div>
    <div class="navLink hstack justify-content-end ">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ path('account_admin') }}" class="nav-link" aria-current="page">Admin</a></li>
            <li class="nav-item"><a href="{{ path('app_sharingboard_index') }}" class="nav-link">Suivi transactionnel</a></li>
            <li class="nav-item"><a href="{{ path('app_dashboard_index') }}" class="nav-link">Tableau de bord</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Dépots</a></li>
            <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Log Out</a></li>
        </ul>
    </div>
</div>
