{% extends 'base.html.twig' %}

{% block title %}Liste des dépôts de CV{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm table-light ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lorem</th>
                <th scope="col">Ipsum</th>
                <th scope="col">Dolor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Sit</td>
                <td>Amet</td>
                <td>Consectetur</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Adipisicing</td>
                <td>Elit</td>
                <td>Sint</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Hic</td>
                <td>Fugiat</td>
                <td>Temporibus</td>
            </tr>
            </tbody>

        </table>
    </div>
{% endblock %}
