{% extends 'base.html.twig' %}

{% block title %}Candidate Form{% endblock %}
{% block h1 %}Créer un candidat{% endblock %}


{# Add button "Déjà créer" #}
{% block content %}
<div class="container-fluid">
    <div class="row hstack gap-1">

        <!-- Form container -->
        <div class="col-5">
            {{ include('Candidate/_form.html.twig', {'button_label': 'Valider la fiche'}) }}
        </div>
    <div class="col-6">
        <img width="100%" src={{ candidate.curiculumVitae }}/>
    </div>
</div>
{% endblock %}
